{{ attach_library('site_offices/module') }}
<div class="organization" itemscope itemtype="http://schema.org/Organization">
  <div class="organization__name"><span itemprop="name">{{ organization.name }}</span></div>
  <div class="organization__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div class="organization__title organization__title_coordinates">{{ 'Street address'|t }}</div>
    {% if organization.addressCountry %}<span itemprop="addressCountry">{{ organization.addressCountry }}</span>,&nbsp;{% endif %}
    {% if organization.addressRegion %}<span itemprop="addressRegion">{{ organization.addressRegion }}</span>,&nbsp;{% endif %}
    {% if organization.postalCode %}<span itemprop="postalCode">{{ organization.postalCode }}</span>,&nbsp;{% endif %}
    {% if organization.addressLocality %}<span itemprop="addressLocality">{{ organization.addressLocality }}</span>,&nbsp;{% endif %}
    {% if organization.streetAddress %}<span itemprop="streetAddress">{{ organization.streetAddress }}</span>{% endif %}
  </div>
  {% if organization.datetime_value and organization.datetime_text %}
    <div class="organization__title organization__title_openinghours">{{ 'Opening hours'|t }}</div>
    <time itemprop="openingHours" datetime="{{ organization.datetime_value }}">{{ organization.datetime_text }}</time>
  {% endif %}

  <div class="organization__title organization__title_contacts">{{ 'Contact Information'|t }}</div>
  {% if organization.url %}
    <div class="organization__url">{{ 'Site'|t }}: <a rel="nofollow noopener" href="{{ organization.url }}"><span itemprop="url">{{ organization.url }}</span></a></div>
  {% endif %}
  {% if organization.telephone %}
    <div class="organization__telephone">{{ 'Phone number'|t }}: <a rel="nofollow noopener" href="tel:{{ organization.telephone|replace({'(': "", ')': "", "-" : "", ' ': ""}) }}"><span itemprop="telephone">{{ organization.telephone }}</span></a></div>
  {% endif %}
  {% if organization.faxNumber %}
    <div class="organization__fax">{{ 'Fax number'|t }}: <span itemprop="faxNumber">{{ organization.faxNumber }}</span></div>
  {% endif %}
  {% if organization.email %}
    <div class="organization__email">{{ 'E-mail'|t }}: <a href="mailto:{{ organization.email }}" target="_blank" rel="nofollow noopener"><span itemprop="email">{{ organization.email }}</span></a></div>
  {% endif %}
</div>